{% macro ifndef(key,value) %}
{% if key is not defined or key == true %}
{{value}}
{% endif %}
{% endmacro %}

port {{ item.port | default('1194') }}   
proto {{ item.proto | default('udp') }}
dev {{ item.device | default('tun0') }}
ca keys/{{ item.name }}/ca.crt
cert keys/{{ item.name }}/server.crt
key keys/{{ item.name }}/server.key
dh keys/{{ item.name }}/dh2048.pem
server {{ item.network }} {{ item.netmask }}
crl-verify keys/{{ item.name }}/crl.pem
cipher {{ item.cipher | default('AES-256-CBC') }}
user {{ item.user | default('nobody') }}
group {{ item.group | default('nogroup') }}
status /var/log/openvpn/servers/{{item.name}}/openvpn-status.log
log-append /var/log/openvpn/servers/{{item.name}}/openvpn.log
verb {{ item.verbosity | default(2) }}
mute {{ item.mute | default(20) }}
max-clients {{ item.max_clients | default(100) }}
keepalive {{item.ping|default(10)}} {{item.ping_restart|default(120)}}
client-config-dir /etc/openvpn/servers/{{item.name}}/ccd

{% if item.ccd_exclusive is defined %}
ccd-exclusive
{% endif %}

{{ ifndef(item.comp_lzo,'comp-lzo') }}
{{ ifndef(item.persist_key,'persist-key') }}
{{ ifndef(item.persist_tun,'persist-tun') }}
 

{% for r in item.routes|default([]) %}
push "route {{r.network}} {{r.netmask}}"
{% endfor %}

